<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         id="totoriBuilder"
         name="Totori Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="org.totori.builder.TotoriBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="totoriProjectNature"
         name="Totori Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.totori.TotoriNature">
         </run>
      </runtime>
      <builder
            id="org.totori.totoriBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            nameFilter="*"
            id="totori.contribution1">
         <action
               class="org.totori.ToggleNatureAction"
               enablesFor="+"
               icon="assets/icons/totori.png"
               id="totori.addRemoveTotoriAction"
               label="Add/Remove Totori Nature"
               menubarPath="additions">
         </action>
      </objectContribution>
   </extension>
   <extension
         id="xmlProblem"
         name="XML Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.totori.perspectives.TotoriPerspective"
            icon="assets/icons/totori.png"
            id="org.totori.perspectives.TotoriPerspective"
            name="Totori">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.totori"
            name="Totori">
      </category>
      <primaryWizard
            id="org.totori.wizards.NewTotoriWizard">
      </primaryWizard>
      <wizard
            category="org.totori"
            class="org.totori.wizards.NewTotoriWizard"
            finalPerspective="org.totori.perspectives.TotoriPerspective"
            icon="assets/icons/totori.png"
            id="org.totori.wizards.NewTotoriWizard"
            name="Totori project"
            project="true">
      </wizard>
      <wizard
            category="org.totori"
            class="org.totori.wizards.NewFeatureWizard"
            icon="assets/icons/feature.png"
            id="org.totori.wizards.NewFeatureWizard"
            name="Feature file">
      </wizard>
      <wizard
            category="org.totori"
            class="org.totori.wizards.NewStepsWizard"
            icon="assets/icons/steps.png"
            id="org.totori.wizards.NewStepsWizard"
            name="Steps file">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.totori.editors.feature.FeatureEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="true"
            extensions="feature"
            icon="assets/icons/feature.png"
            id="org.totori.editors.feature.FeatureEditor"
            name="Feature Editor">
      </editor>
      <editor
            class="org.totori.editors.steps.StepsEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="true"
            extensions="rb"
            icon="assets/icons/steps.png"
            id="org.totori.editors.feature.StepEditor"
            name="Steps Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            icon="assets/icons/totori.png"
            id="org.totori.decorators.TotoriProject"
            label="Totori project Decorator"
            lightweight="true"
            location="REPLACE"
            state="true">
         <enablement>
            <and>
               <objectClass
                     name="org.eclipse.core.resources.IProject">
               </objectClass>
            </and>
         </enablement>
      </decorator>
      <decorator
            adaptable="true"
            icon="assets/icons/steps.png"
            id="org.totori.decorators.StepsFolder"
            label="Steps folder Decorator"
            lightweight="true"
            location="REPLACE"
            state="true">
         <enablement>
            <and>
               <objectClass
                     name="org.eclipse.core.resources.IFolder">
               </objectClass>
            </and>
         </enablement>
      </decorator>
      <decorator
            adaptable="true"
            class="org.totori.decorators.FeatureFileDecorator"
            icon="assets/icons/feature_file.png"
            id="org.totori.decorators.FeatureFile"
            label="Feature files Decorator"
            lightweight="true"
            location="BOTTOM_LEFT"
            state="true">
         <enablement>
            <and>
               <objectClass
                     name="org.eclipse.core.resources.IFile">
               </objectClass>
            </and>
         </enablement>
      </decorator>
      <decorator
            adaptable="true"
            class="org.totori.decorators.StepsFileDecorator"
            icon="assets/icons/steps_file.png"
            id="org.totori.decorators.StepsFile"
            label="Steps files Decorator"
            lightweight="true"
            location="BOTTOM_LEFT"
            state="true">
         <enablement>
            <and>
               <objectClass
                     name="org.eclipse.core.resources.IFile">
               </objectClass>
            </and>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.totori.preferences.TotoriPreferenceMainPage"
            id="org.totori.preferences.TotoriPreferenceMainPage"
            name="Totori">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.totori.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="assets/icons/totori.png"
            id="org.totori.totoriProjectNature.img"
            natureId="org.totori.totoriProjectNature">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="FeatureEditor.run"
            targetID="org.totori.editors.feature.FeatureEditor">
         <menu
               icon="assets/icons/totori.png"
               id="org.totori.editors.feature.FeatureEditor.menu"
               label="&amp;Totori"
               path="ContextMenu/Totori">
            <separator
                  name="Totori-eclipse-plugin.separator2">
            </separator>
            <groupMarker
                  name="Totori-eclipse-plugin.groupMarker2">
            </groupMarker>
         </menu>
         <action
               class="org.totori.editors.feature.actions.RunFeatureActionDelegate"
               disabledIcon="assets/icons/run_disabled.png"
               hoverIcon="assets/icons/run_hover.png"
               icon="assets/icons/run.png"
               id="org.totori.editors.feature.FeatureEditor.run"
               label="&amp;Run this feature"
               menubarPath="ContextMenu/Totori"
               style="push"
               toolbarPath="ContextMenu/Totori"
               tooltip="Run this feature">
         </action>
         <action
               class="org.totori.editors.feature.actions.RunAllFeaturesActionDelegate"
               disabledIcon="assets/icons/run_all_disabled.png"
               hoverIcon="assets/icons/run_all_hover.png"
               icon="assets/icons/run_all.png"
               id="org.totori.editors.feature.FeatureEditor.runAll"
               label="Run &amp;all the project&apos;s features"
               menubarPath="ContextMenu/Totori"
               style="push"
               toolbarPath="ContextMenu/Totori"
               tooltip="Run all the project&apos;s features">
         </action>
      </editorContribution>
   </extension>

</plugin>
